body {
    min-height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(#f7eff0d6, rgb(228, 196, 199));
}

.title {
    border: 2px dashed white;
    position:absolute;
    top: 200px;
    width: 40vw;
    padding: 10px 0px;
    background-color:#ff8dba93;
    flex-wrap: no-wrap;
}
.container {
    flex-direction: row;
    min-width: fit-content;
}

#bgImg {
   display:inline-block;
   width: 40vw;
   min-height: 100vh;
   padding: 0;
   margin: 0;
}
.signUp {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form {
    gap: 30px;
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
    padding: 60px 100px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    box-shadow: 12px 12px 2px 1px rgba(236,190,198,255);;
}

.firstInputs {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 20px;
}

.secondInputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.allInputs {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

h1 {
    color:rgb(255, 255, 255);
    font-family:cursive;
    font-style: italic;
    text-align: center;
    font-size: 60px;
    line-height: 0;
    opacity: 1;
}

h2 {
    color: #f6a1b5;
    font-family:cursive;
    margin-left: 50px;
    font-size: 60px;
    line-height: 1px;
}

h3 {
    color: #eba2b3;
    font-family:cursive;
    font-size: 45px;
    margin-top: 10px;
    text-shadow: #000000;
}

p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    color:#7a7878;
}
input {
    border: 0.7mm double #f4ccdc;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    padding: 3px;
}
button {
    border: 1mm double rgb(255, 255, 255);
    background-color:#f4ccdc;
    font-family: 'Courier New', Courier, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 3px;
 }


 button:hover {
    background-color: rgb(255, 255, 255);
    color: #f4ccdc;
    border: 1mm double #f294c5;
    box-shadow: 4px 0px 7px 4px rgba(244, 219, 238, 0.863);
 }

 #disclaimer {
    opacity: 55%;
    margin-left: 680px;
    font-size: 16px;
 }